.modal {
    display: none; /* none */
    position: fixed;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0e1e37;
    /*background-image: url("../images/ui/modal_bg.png");*/
    background-repeat: repeat;
    border: 4px solid #4186a7;
    z-index: 99;

    /*clip-path: polygon(*/
    /*        5% 0,       !* срез слева сверху *!*/
    /*        95% 0,      !* срез справа сверху *!*/
    /*        100% 5%,   !* скошенный угол справа *!*/
    /*        100% 100%,  !* правый нижний угол *!*/
    /*        0 100%,     !* левый нижний угол *!*/
    /*        0 5%       !* скошенный угол слева *!*/
    /*);*/
}

.modal.active {
    display: block;
    animation: modal-animation 0.3s ease forwards;
}

.modal.modal_event {
    width: 640px;
}

.modal-overlay {
    display: none; /* none */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    backdrop-filter: blur(5px);
}

.modal-overlay.active {
    display: block;
    animation: modal-animation 0.3s ease forwards;
}

.modal__header {
    background-color: #4186a7;
    padding: 5px 10px;
    text-align: center;
    color: #cff4ff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    /*text-shadow: 2px 2px 2px  #0e1e37;*/
}

.modal__content {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px 30px;
}

.modal__image {
    max-width: 100%;
    height: 200px;
}

.modal__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__buttons {
    padding: 10px 20px 20px;
}

.modal__buttons button {
    display: block;
    width: 131px;
    height: 40px;
    margin: 0 auto;
    color: white;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url("../images/ui/standard_button/default.png");
    background-position: center;
    background-repeat: no-repeat;
}

.modal__buttons button:hover {
    background-image: url("../images/ui/standard_button/hovered.png");
}

.modal button.hidden {
    display: none;
}

.modal.modal_event .modal__content h2 {
    margin-top: 0;
}

.modal.modal_event .modal__buttons {
    display: flex;
    gap: 15px;
}

.modal.modal_event .modal__buttons button {
    flex: 0 0 calc(25% - 11px);
    height: auto;
    background-color: rgb(28, 49, 74);
    border: 4px solid #50d7df;
    background-image: none;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
    margin-top: 10px;
}

.modal.modal_event .modal__buttons button:hover {
    background-color: rgb(33, 60, 82);
}

@keyframes modal-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.accent-color {
    color: #50d7df;
}

.success-color {
    color: #7DC574;
}
