.modal {
    display: none; /* none */
    position: fixed;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272623;
    border: 7px solid #615f58;
    padding: 30px 20px 20px;
    z-index: 99;
}

.modal.active {
    display: block;
    animation: modal-animation 0.3s ease forwards;
}

.modal.modal_event {
    width: 540px;
}

.modal-overlay {
    display: none; /* none */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    backdrop-filter: blur(5px);
}

.modal-overlay.active {
    display: block;
    animation: modal-animation 0.3s ease forwards;
}

.modal__content {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.modal__image img {
    max-width: 100%;
}

.modal__buttons button {
    display: block;
    width: calc(552px / 4);
    height: calc(168px / 4);
    margin: 30px auto 0;
    color: white;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url("../images/ui/button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal__buttons button:hover {
    transform: scale(1.1, 1.1);
}

.modal button.hidden {
    display: none;
}

.modal.modal_event .modal__buttons {
    width: 320px;
    margin: 40px auto 0;
}

.modal.modal_event .modal__buttons button {
    display: inline-block;
    margin: 5px 5px;
}

@keyframes modal-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
